<div class="container" [hidden]="status">
    <div class="title">
        {{ title }}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="email" [(ngModel)]="userForm.email" >
                <label for="email">Email</label>
                <p [hidden]="!error.email">{{ error.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="password" [(ngModel)]="userForm.password" >
                <label for="password">Password</label>
                <p [hidden]="!error.password">{{ error.password }}</p>
                </div>
            </div>
        <button class="btn waves-effect waves-light" type="button" [disabled]="status" (click)="postLogin()">Submit</button>    
    </div>
</div>
