<div class="container" [hidden]="status">
    <div class="card-panel teal lighten-2">
        {{ title }}
    </div>
  <!-- <md-slide-toggle>Slide Toggle</md-slide-toggle> -->
    <div class="panel-body">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="email" [(ngModel)]="userForm.email" required>
                <label for="email">Email</label>
                <div class="md-errors-spacer" [attr.force-narrow]="error.email ? null : true">{{ error.email }}</div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="password" id="password" [(ngModel)]="userForm.password" required>
                <label for="password">Password</label>
                <div class="md-errors-spacer" [hidden]="!error.password">{{ error.password }}</div>
                </div>
            </div>
        <button md-raised-button color="primary" [disabled]="status" (click)="postLogin()">Submit</button>    
    </div>
</div>
